@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="~/img/kooh.jpg" />
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img class="custom-img" src="~/img/kooh.jpg" alt="">
    <div class="container">
        <div class="Heder">
            <div class="forms">
                <form>
                    <input type="text" placeholder="Type something..." />
                    <button  >ss</button>
                </form>
            </div>
            <div class="card">
                <div class="card-body">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="item-content">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="gray" class="size-2" onclick="ChengStatus('xId', true)">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h15" />
                                </svg>
                                <p>Vestibulum at erasdsadaslkdjalos</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2" onclick="deleteToDo(1.Id)">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </li>
                        <li class="list-group-item">
                            <div class="item-content">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="gray" class="size-2" onclick="ChengStatus(1s,false)">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                </svg>
                                <p>Vestibulum at erasdsadaslkdjalos</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2" onclick="deleteToDo(1.Id)">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </li>
                        <li class="list-group-item">
                            <div class="item-content">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="gray" class="size-2" onclick="ChengStatus(1s,false)">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                </svg>
                                <p>Vestibulum at erasdsadaslkdjalos</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2" onclick="deleteToDo(1.Id)">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </li>
                        <li class="list-group-item">
                            <div class="item-content">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="gray" class="size-2" onclick="ChengStatus(1s,false)">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                </svg>
                                <p>Vestibulum at erasdsadaslkdjalos</p>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-2" onclick="deleteToDo(1.Id)">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </li>
                    </ul>
                    <div class="foter">
                        <a href=""  >Items left @ViewBag.itemsleft</a>
                        <ul class="flexgap">
                            <li><a asp-action="index" asp-controller="ToDo" asp-route-SortType="All">All</a></li>
                            <li><a asp-action="index" asp-controller="ToDo" asp-route-SortType="Active">Active</a></li>
                            <li><a asp-action="index" asp-controller="ToDo" asp-route-SortType="Completed">Completed</a></li>
                        </ul>
                        <a asp-action="index" asp-controller="ToDo" asp-route-SortType="ClearCompleted" >Clear Completed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>